In [1]:
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder

from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
df_raw = pd.read_csv("Data/상품구매.csv", engine="python")

In [4]:
# 고객 ID값 중복 제거
ID = list(set(df_raw["ID"]))
ID.sort()

list_association = []
for i in ID:
    # ID별 구매 데이터 추출
    tmp_list = list(df_raw[df_raw["ID"] == i]["PRODUCT"])
    tmp_list.sort()
    # ID별 구매 데이터를 리스트에 담기
    list_association.append(tmp_list)

# 리스트 출력
for row in list_association:
    print(row)

['APPLES', 'ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['APPLES', 'CORNED BEEF', 'HEINEKEN', 'HERRING', 'OLIVES', 'SARDINES', 'STEAK']
['APPLES', 'AVOCADO', 'BAGUETTE', 'ICE CREAM', 'PEPPERS', 'SARDINES', 'STEAK']
['APPLES', 'COKE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'COKE', 'HEINEKEN', 'HERRING', 'TURKEY']
['APPLES', 'CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['BAGUETTE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA', 'STEAK']
['APPLES', 'BAGUETTE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'BOURBON', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'SODA', 'STEAK']
['BOURBON', 'CORNED BEEF', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA']
['APPLES', 'BAGUETTE', 'CHICKEN', 'COKE', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'PEPPERS', 'SARDINES']
['APPLES', 'BAGUETTE', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'TURKEY']
['AVOCADO', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SARDINES', 'SODA', 'TURKEY']
['BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']

In [5]:
# Items 중 index 0번이 갖고 있으면 True, 아니면 False
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X = list_association)
# 위의 함수는 데이터를 행렬의 형태로 반환, pandas의 DataFrame의 형태로 변환
df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)
df_asso

    APPLES  ARTICHOKE  AVOCADO  BAGUETTE  ...  SARDINES   SODA  STEAK  TURKEY
0     True       True     True      True  ...     False  False  False   False
1     True      False    False     False  ...      True  False   True   False
2     True      False     True      True  ...      True  False   True   False
3     True      False    False     False  ...     False  False  False    True
4    False       True    False     False  ...     False  False  False    True
5    False       True     True      True  ...     False  False  False    True
6     True      False    False     False  ...      True  False  False   False
7    False      False    False      True  ...     False   True  False   False
8    False      False    False     False  ...     False   True   True   False
9     True      False    False      True  ...     False  False  False    True
10   False       True     True      True  ...     False  False  False   False
11   False       True    False     False  ...     False   True   True   False
12   False      False    False     False  ...     False   True  False   False
13    True      False    False      True  ...      True  False  False   False
14   False      False    False     False  ...      True  False  False   False
15    True      False    False      True  ...     False  False  False    True
16   False      False     True     False  ...     False   True  False    True
17   False       True    False     False  ...     False   True  False   False
18   False      False    False     False  ...      True   True  False    True
19   False      False    False     False  ...     False   True  False    True

[20 rows x 19 columns]

In [6]:
v_min_sup = 0.5
df_freq=apriori(df_asso, min_support=v_min_sup, use_colnames=True)
df_freq.round(3)

   support           itemsets
0     0.55          (BOURBON)
1     0.50             (COKE)
2     0.60         (HEINEKEN)
3     0.65           (OLIVES)
4     0.50  (OLIVES, BOURBON)

In [7]:
df_asso_rule = association_rules(df_freq, metric="confidence",
                                 min_threshold=0.5)
df_asso_rule.round(3)

  antecedents consequents  antecedent support  ...   lift  leverage  conviction
0    (OLIVES)   (BOURBON)                0.65  ...  1.399     0.142        1.95
1   (BOURBON)    (OLIVES)                0.55  ...  1.399     0.142        3.85

[2 rows x 9 columns]